!packages*

#ignore thumbnails created by windows
Thumbs.db
*desktop.ini

#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.lib
*.sbr
*.testsettings
*.dotCover
*.mrx

[Oo]bj
[Bb]in
[Dd]ebug*/
[Rr]elease*/

[Tt]est[Rr]esult*
*FileListAbsolute.txt

_ReSharper*
_ReSharper.Insight/XmlIndex
dll
*.sln.DotSettings.user
_ReSharper.Insight*
EventManager/obj/
_ReSharper.Insight/
*.DotSettings
