@{
    ViewBag.Title = "NecessitiesThriftShop.com";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Message</h1>
            </hgroup>
            <p>
                This site is under construction.  Check back often or visit our <a href="https://www.facebook.com/NecessitiesThriftShop">Facebook Page</a>.
            </p>
        </div>
    </section>
}

